name: Dependency Review
on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          # Possible values: critical, high, moderate, low
          fail-on-severity: high
          # Only show new vulnerabilities introduced in PR
          deny-licenses: ""
          # Optional: Add comment with vulnerability report on PR
          comment-summary-in-pr: true
